{% extends 'base.html' %}

{% block main %}
<div x-data="data">
    <h1 x-text="question"></h1>
    <pre x-text="window.location.href" style="padding: 0.5em; cursor: pointer;" x-on:click="copyUrl"></pre>

    <div class="grid">
        <template x-for="(answer, index) in answers">
            <article>
                <h5 x-text="answer"></h5>
                <footer>
                    <button x-show="!resultView" x-transition.duration.500ms
                        x-on:click="()=>voteFor(index)">Vote</button>
                    <progress x-bind:max="max.toString()" x-bind:value="votes[index].toString()" x-show="resultView"
                        x-transition.delay.500ms></progress>
                </footer>
            </article>
        </template>
    </div>

    <!-- results -->


</div>


<script>
    let data = {
        question: "",
        answers: [],
        votes: [],
        resultView: false,
        get max() {
            return Math.max(...this.votes);
        },
        get code() {
            return window.location.pathname.split('/')[1]
        },
        copyUrl() {
            navigator.clipboard.writeText(window.location.href);
        },
        async getData() {
            let response = await fetch(`/api/${this.code}`)
            let data = await response.json()
            this.question = data.question
            this.answers = data.answers
            this.votes = data.votes
        },
        async init() {
            await this.getData();
            this.resultView = JSON.parse(localStorage.getItem(this.code)) || false;
            setInterval(async () => {
                if (this.resultView) {
                    await this.getData();
                }
            }, 2000);
        },
        async voteFor(index) {
            // send vote request for selected index
            let response = await fetch(`/${this.code}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    index: index
                })
            });
            if (response.status == 200) {
                this.resultView = true;
                localStorage.setItem(this.code, true);
            }
            else {
                alert('Error voting')
            }
        },
    }

</script>

<style>
    h5 {
        margin: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    article {
        margin-block: 0.5em;
    }
</style>
{% endblock main %}